a:link{
    text-decoration: none;
    color: black
}

a:visited{
    color: black;
}

a:hover{
    text-decoration: underline;
    color: #A9A9A9;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li {
    float: left;
    font-size: 14px;
    padding-left: 10px;
}
  
li a {
    display: block;
    text-align: center;
    padding: 14px 4px;
    text-decoration: none;
}
  
h1 {
     display: flex;
     justify-content: center;
}

.search{
    display: flex;
    justify-content: center;

}

.input{
    border-radius: 50px;
    border: 1px solid silver;
    font-size: 16px;
    width: 485px;
    height: 30px; 
}

button {
    border-radius: 5px;
    padding: 8px 30px;
    background-color: rgb(236, 236, 236);
    border: 0px solid;
}

.center-button {
    display: flex;
    justify-content: center;
}